
<!doctype html>
<html lang="pt-BR">
  <head>
  </head>
  <body>
    <nav style="background-color: antiquewhite;">
      <div class="container-fluid d-flex justify-content-between">
        <a routerLink="/" class="navbar-brand margemHome" style="color: brown;">Home</a>
        <a routerLink="/Galeria" class="navbar-brand margemNavPrincipal" style="color: brown;">Galeria</a>
        <div class="container d-flex flex-column flex-md-row justify-content-center">
          <h5 class="py-2 titulo">Jack Pires</h5>
        </div>
        <a routerLink="/Login" class="navbar-brand margemNavPrincipal" style="color: brown;">Administração</a>
      </div>
    </nav>

    <router-outlet></router-outlet>
   
    <footer style="background-color: antiquewhite;" class="fixed-bottom py-3">
      <div style="margin-left: 1rem">
        <span class="text-muted">Siga nossas redes sociais</span>
        <a target="https://www.instagram.com/lojada.jack/" href="https://www.instagram.com/lojada.jack/" class="bi bi-instagram" style="color: brown; margin-left: 1rem" ></a>
        <a class="bi bi-facebook" style="margin-left: 1rem"></a>
        <a class="bi bi-whatsapp" style="color: green; margin-left: 1rem" ></a>  
      </div>
    </footer>
  </body>
</html>