.margemNavPrincipal{
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

body{
    background-color:rgb(255, 249, 237);
}

.margemHome{
    margin-top: 1em;
    margin-bottom: 1em;
}

.iconesFooter{
    margin-left: 1em;
}

.titulo{
    color: brown;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}