.margemNavPrincipal{
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.margemHome{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.titulo{
    color: brown;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}