<div class="d-flex flex-wrap">
    <select class="form-select" style="min-width: 32vh; margin-top: 1rem;" aria-label="Marca">
        <option selected>Marca</option>
        <option value="1">O Boticário</option>
        <option value="2">Eldora</option>
        <option value="3">Quem Disse Berenice?</option>
    </select>
    <select class="form-select" style="min-width: 32vh; margin-top: 1rem;" aria-label="Categoria">
        <option selected>Categoria</option>
        <option value="1">Perfume</option>
        <option value="2">Hidratante</option>
        <option value="3">Maquiagem</option>
    </select>
    <input type="text" style="min-width: 32vh; margin-top: 1rem;" placeholder="Nome do produto"/>
</div>

<div class="d-flex flex-wrap position-relative" style="align-items: center;">
    <div class="col dimensoesCard" style="max-width: 8rem;">
        <div class="card">
        <img src="/assets/Arboo2.png">
        <div class="card-body">
            <h5 class="card-title">Arbo Desodorante Colônia 100ml</h5>
            <p class="card-text">R$144,90</p>
            <a href="#" class="btn btn-primary">Ver detalhes</a>
        </div>
        </div>
    </div>

    <div class="col dimensoesCard" style="max-width: 8rem;">
        <div class="card">
        <img src="/assets/Arboo2.png">
        <div class="card-body">
            <h5 class="card-title">Arbo Desodorante Colônia 100ml</h5>
            <p class="card-text">R$144,90</p>
            <a href="#" class="btn btn-primary">Ver detalhes</a>
        </div>
        </div>
    </div>

    <div class="col dimensoesCard" style="max-width: 8rem;">
        <div class="card">
        <img src="/assets/Arboo2.png">
        <div class="card-body">
            <h5 class="card-title">Arbo Desodorante Colônia 100ml</h5>
            <p class="card-text">R$144,90</p>
            <a href="#" class="btn btn-primary">Ver detalhes</a>
        </div>
        </div>
    </div>

    <div class="col dimensoesCard" style="max-width: 8rem;">
        <div class="card">
        <img src="/assets/Arboo2.png">
        <div class="card-body">
            <h5 class="card-title">Arbo Desodorante Colônia 100ml</h5>
            <p class="card-text">R$144,90</p>
            <a href="#" class="btn btn-primary">Ver detalhes</a>
        </div>
        </div>
    </div>

    <div class="col dimensoesCard" style="max-width: 8rem;">
        <div class="card">
        <img src="/assets/Arboo2.png">
        <div class="card-body">
            <h5 class="card-title">Arbo Desodorante Colônia 100ml</h5>
            <p class="card-text">R$144,90</p>
            <a href="#" class="btn btn-primary">Ver detalhes</a>
        </div>
        </div>
    </div>

    <div class="col dimensoesCard" style="max-width: 8rem;">
        <div class="card">
        <img src="/assets/Arboo2.png">
        <div class="card-body">
            <h5 class="card-title">Arbo Desodorante Colônia 100ml</h5>
            <p class="card-text">R$144,90</p>
            <a href="#" class="btn btn-primary">Ver detalhes</a>
        </div>
        </div>
    </div>

    <div class="col dimensoesCard" style="max-width: 8rem;">
        <div class="card">
        <img src="/assets/Arboo2.png">
        <div class="card-body">
            <h5 class="card-title">Arbo Desodorante Colônia 100ml</h5>
            <p class="card-text">R$144,90</p>
            <a href="#" class="btn btn-primary">Ver detalhes</a>
        </div>
        </div>
    </div>

    <div class="col dimensoesCard" style="max-width: 8rem;">
        <div class="card">
        <img src="/assets/Arboo2.png">
        <div class="card-body">
            <h5 class="card-title">Arbo Desodorante Colônia 100ml</h5>
            <p class="card-text">R$144,90</p>
            <a href="#" class="btn btn-primary">Ver detalhes</a>
        </div>
        </div>
    </div>

    <div class="col dimensoesCard" style="max-width: 8rem;">
        <div class="card">
        <img src="/assets/Arboo2.png">
        <div class="card-body">
            <h5 class="card-title">Arbo Desodorante Colônia 100ml</h5>
            <p class="card-text">R$144,90</p>
            <a href="#" class="btn btn-primary">Ver detalhes</a>
        </div>
        </div>
    </div>

    <div class="col dimensoesCard" style="max-width: 8rem;">
        <div class="card">
        <img src="/assets/Arboo2.png">
        <div class="card-body">
            <h5 class="card-title">Arbo Desodorante Colônia 100ml</h5>
            <p class="card-text">R$144,90</p>
            <a href="#" class="btn btn-primary">Ver detalhes</a>
        </div>
        </div>
    </div>
</div>