<div class="row my-4">
    <div class="col-lg-4 mb-lg-0 mb-3">
        <select class="form-select" aria-label="Marca">
            <option selected>Marca</option>
            <option value="1">O Boticário</option>
            <option value="2">Eldora</option>
            <option value="3">Quem Disse Berenice?</option>
        </select>
    </div>
    <div class="col-lg-4 mb-lg-0 mb-3">
        <select class="form-select" aria-label="Categoria">
            <option selected>Categoria</option>
            <option value="1">Perfume</option>
            <option value="2">Hidratante</option>
            <option value="3">Maquiagem</option>
        </select>
    </div>
    <div class="col-lg-4 mb-lg-0 mb-3">
        <input class="form-control" type="text" placeholder="Nome do produto"/>
    </div>
</div>

<div>
    <button class="btn btn-primary me-3" type="button">Filtrar</button>
    <button class="btn btn-primary" type="button">Limpar Filtros</button>
</div>


<div class="d-flex flex-wrap position-relative" style="align-items: center;">
    <div class="col-2 mt-4 gap-3" *ngFor="let produto of listaProdutos">
        <app-card-produtos>
        </app-card-produtos>
    </div>
</div>